.footer {
  background: #303f9f;
  bottom: 0;
  width: 100%;
  position: inherit;
}

.icon {
  color: white !important;
}

.media {
  color: white;
  margin-top: 5px;
}

a {
  text-decoration: none;
}
