<div class="container">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Frequently Asked Questions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Your most common questions answered/p></p></mat-expansion-panel
    >

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          What's your best contact method?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Thank you for your interest! We have two contact methods: via text or
        email.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          What are your hours of operation?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        We operate: Monday through Friday from 10AM until 6PM CST. <br />
        We <strong>DO NOT</strong> operate during weekends nor holidays. During
        our business hours, you can text or email us. <br />
        You can also book a time to speak with a representative by emailing us
        to schedule a phone meeting.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          What forms of payment do you offer?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        We accept CashApp, Venmo, Zelle, Apple Pay, PayPal, debit and credit
        cards. Please note that when paying via debit/credit or PayPal, a
        processing fee is added. We <strong>REQUIRE</strong> any projects under
        $500 to be paid upfront. Anything over that amount will require the
        signing of a legally binding contract that <strong>MUST</strong> be
        signed by all parties involved. Please note that ALL deposits are
        <strong>NONREFUNDABLE</strong>.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          What is your current turnaround time?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Our turnaround time on our Wordpress, Wix and Shopify website packages
        is 4 weeks. We <strong>ARE NOT </strong>&<strong> CANNOT</strong>
        rush any website design or website development before this time period.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Do you provide stock images?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        The client is responsible for all images and copy for the website. We
        can provide stock images and copy at an additional fee.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          I've changed my mind. How can I cancel my project?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>As stated above, all deposits are <strong>NONREFUNDABLE</strong>.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How many revisions are allowed?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        For websites, we do not limit you to revisions as we build your site
        step by step with your input and feedback throughout the entire process.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          I have a website but need it redesigned.
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        At this time, we <strong>DO NOT</strong> redesign any work that wasn’t
        done by us. If you have a current website, you will need to have it
        redone completely by a member of our team.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Will I have to pay upfront?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        The total will be made in three installments. For each 1/3 of the
        progress made, you will sign off on the changes and make a payment.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How long will a custom website take?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        The turnaround time for a custom site that is built without a website
        builder, depends on the client's requirements. We would need to schedule
        a meeting to discuss all of the requirements to give an accurate
        estimate.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
