.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.container {
  margin-top: 20px;
  margin-bottom: 30px;
}

mat-panel-title {
  font-weight: 600;
}

.mat-expansion-panel-header:hover {
  background: #303f9f !important;
  mat-panel-title.mat-expansion-panel-header-title {
    color: white;
  }
}
