<div class="container mt-4">
  <div class="row">
    <div class="col-4">
      <mat-card *ngFor="let blog of blogs | async" class="mb-3">
        <div class="row container">
          <!-- <img *ngIf="blog.image" [src]="blog?.image" style="height: 100px;" /> -->
          <div class="col-8">
            <h3>{{ blog.title }}</h3>
            <p>{{ blog.date * 1000 | date: "M/d" }}</p>
            <!-- <p>
              {{ blog.body }}
            </p> -->
          </div>
          <div class="pull-right">
            <button
              color="primary"
              mat-raised-button
              (click)="selectBlog(blog)"
            >
              Read More
            </button>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col">
      <div *ngIf="!selectedBlog" class="spinner">
        <mat-spinner></mat-spinner>
      </div>
      <mat-card class="mb-3" *ngIf="selectedBlog">
        <div class="row container">
          <img
            *ngIf="selectedBlog.image"
            [src]="selectedBlog.image"
            style="height: 100px"
          />
          <div class="col-8">
            <h3>{{ selectedBlog.title }}</h3>
            <p>{{ selectedBlog.date * 1000 | date: "M/d" }}</p>
            <p>
              {{ selectedBlog.body }}
            </p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
