<div class="jumbotron image container-fluid">
  <h1 class="text-center text-white header1">Envizn Web Design</h1>
  <p class="text-white text-left" style="margin: auto; max-width: 580px;">
    We take pride in taking the time to understand your goals, business, and
    industry before we start designing. We consider it a top priority to provide
    the personal attention and high-quality services you deserve. We specialize
    in all forms of web, print and interactive media, including advertising,
    signage, brochures as well as websites and other forms of media. We have a
    combined 15 years of experience and we will develop and execute a targeted
    solution to help your business succeed.
  </p>
</div>

<!-- <div class="container"> -->
<div class="row">
  <div class="p-2">
    <app-features></app-features>
    <app-our-works></app-our-works>
    <app-our-services></app-our-services>
    <app-testimonials></app-testimonials>
    <!--     <app-pricing></app-pricing>
        <app-contact-us></app-contact-us> -->
  </div>

  <!-- <app-footer></app-footer> -->
</div>
<!-- </div> -->
